{% extends 'base.html' %}
{% block TITLE %}Author list{% endblock TITLE %}
{% block BODY %}

<table border=1>
    <tr>
        <th>pk</th>
        <th>name</th>
        <th>actions</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.pk }}</td>
        <td>{{ obj.name }}</td>
        <td>
            <a href="{% url "spravochniki:update-author" pk=obj.pk %}">update</a>
            <a href="{% url "spravochniki:view-author" pk=obj.pk %}">view</a>
            <a href="{% url "spravochniki:delete-author" pk=obj.pk %}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock BODY %} 
