{% extends 'base.html' %}
{% block TITLE %}Izdatelstvo list{% endblock TITLE %}
{% block BODY %}

<table class="table table-striped table-hover">
    <tr>
        <th>pk</th>
        <th>name</th>
        <th>actions</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.pk }}</td>
        <td>{{ obj.name }}</td>
        <td>
            <a href="{% url "spravochniki:update-izdatelstvo" pk=obj.pk %}">
                <i class="bi bi-pencil"></i></a>
            <a href="{% url "spravochniki:view-izdatelstvo" pk=obj.pk %}">
                <i class="bi bi-binoculars-fill"></i></a>
            <a href="{% url "spravochniki:delete-izdatelstvo" pk=obj.pk %}">
                <i class="bi bi-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock BODY %} 
