{% extends 'base.html' %}
{% block TITLE %}Book detail{% endblock TITLE %}
{% block BODY %}

    <h1>Book details</h1>
    <div class="card" style="width: 18rem;">
        <img src="{{ object.picture.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ object.name }}</h5>
          <p class="card-text">{{ object.description }}</p>
          <h4 class="card-title">{{ object.price }}</h4>
          <a href="#" class="btn btn-primary">Перейти куда-нибудь</a><br>
          <div class="row">
              <div class ="col-auto">
                  <input type="number" id= "add-to-cart" class="form-control" min="1" max="100" value="1">
              </div>
              <div class ="col-auto">
                  <button class="btn btn-danger" onclick="addToCart()">add to cart</a></button>
              </div>
          </div>
        </div>
      </div>
<script>
  function addToCart(){
    console.log("click")
    quantity = document.getElementById("add-to-cart")
    console.log(quantity.value)
    window.location.href = "{% url "orders:view-cart" %}" + "?good_id={{ object.pk }}&quantity="+ quantity.value;
  }
</script>    
{% endblock BODY %} 